*.iml
.gradle
/local.properties
/google-services.json
app/google-services.json
serviceAccountKey.json
Summer Project/
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
node_modules/
**/node_modules/
*.log
app/src/main/java/com/example/watchorderengine/temp/
temp/
